# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/

# IDE/project settings
.vscode/
.idea/
*.swp

# Data and logs
dataset/*/Thumbs.db
*.log

# OS-specific files
.DS_Store
Thumbs.db
